@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.showcase {
  padding-bottom: 2rem;

  &__container {
    display: flex;
    gap: 5%;
    justify-content: center;
  }

  &__contain {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      width: 50%;
    }
  }

  &__title-highlight {
    color: $primary-color-4;
  }

  &__info {
    line-height: 1.4rem;
    margin: 1rem 0;
  }

  &__contain-image {
    display: none;
    width: 50%;
    object-fit: cover;

    @include tablet {
      display: block;
      height: 40vh;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__btn {
    border: none;
    background-color: $primary-color-4;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: $primary-color-1;
    cursor: pointer;
  }
}
