// COLORS
$primary-color-1: #ffffff;
$primary-color-2: #f6f7fa;
$primary-color-3: #8c97b2;
$primary-color-4: #316a16;

// BREAKPOINTS
$mobile-tablet-breakpoint: 480px;
$mobile-tablet-mod-breakpoint: 630px;
$tablet-breakpoint: 768px;
$full-screen-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
$beyond-desktop-breakpoint: 2000px;
