// COLORS
$primary-color-1: #FFFFFF;
$primary-color-2: #F6F7FA;
$primary-color-3: #8C97B2;


// BREAKPOINTS
$tablet-breakpoint: 768px;
$mobile-tablet-breakpoint: 480px;
$desktop-breakpoint: 1280px;
$beyond-desktop-breakpoint: 2000px;
