@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.footer {
  height: 20vh;
  background-color: $primary-color-4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;

  &__header {
    color: $primary-color-1;
  }
}
