@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.active {
  background-color: $primary-color-4;
  border-radius: 5px;
  color: $primary-color-1;
}

.sidebar {
  transition: 0.3s;
  padding: 2rem 1rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;

  @include tablet {
    position: sticky;
    width: 30%;
    display: block;
    padding-left: 2rem;
  }

  @include desktop {
    width: 20%;
  }

  &--active {
    padding: 2rem 1rem;
    background-color: $primary-color-2;
    display: block;
    width: 100%;

    @include mobile-tablet {
      width: 60%;
    }

    @include tablet {
      width: 30%;
    }
  }

  &__menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
  }

  &__logo {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
  }

  &__nav-links {
    height: 70vh;
  }

  &__close-icon {
    margin-right: 1rem;

    @include tablet {
      display: none;
    }
  }

  &__link {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color-4;
      border-radius: 5px;
      color: $primary-color-1;
    }
  }
}
