@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.completed-item {
  background-color: $primary-color-1;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include mobile-tablet {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
    gap: 0;
  }

  &__icons {
    display: flex;
    gap: 1rem;
  }
}
